@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1200px;
    padding: 0 1.5rem;
    margin: auto;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(4, 11, 19);
    /* background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%); */
}

section {
    padding: 100px 0;
    height: 100vh;
    width: 100vw;
    color: white;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 60px;
    padding-bottom: 20px;
    /* font-family: 'Atkinson Hyperlegible', sans-serif; */
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 500px;
    height: 5px;
    background: #0159ED;
    background: linear-gradient(to right, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transform: translateX(-50%);
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* Navbar */

.navbar {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    position: fixed;
    z-index: 999;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 2rem;
}

.navbar a {
    color: white;
}

/* ------------------------------------------------------------------------------------------------------ */
/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /*------------------- pattern -------------------------*/
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content .text-1 {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#002fff, #c300ff, #c70000);
    background: linear-gradient(to right, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content .text-2 {
    font-weight: bold;
    font-size: 5rem;
    line-height: 90px;
    /* background: -webkit-linear-gradient(#002fff, #c300ff, #c70000);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.hero-content a {
    margin-top: 30px;
}

.btn {
    font-weight: bold;
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    transition: 0.3s;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
}

.btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.03);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transition: 0.3s;
}

.btn:hover::after {
    filter: blur(20px);
    transition: 0.3s;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* CreateMusic Section*/
.createmusic-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.music-option-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

.card {
    position: relative;
    height: 450px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 0px 35px rgba(255, 255, 255, 0.25);
    overflow: hidden;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 0px 35px 0 rgba(255, 94, 247, 1), 0 5px 15px 0 rgba(2, 245, 255, 1);
}

.card .poster {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card .poster::before {
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000000 50%, transparent);
    z-index: 1;
    transition: 0.5s;
}

/* .card:hover .poster::before {
    bottom: 0px;
} */

.card .poster img {
    width: 100%;
    transition: 0.5s;
}

.card:hover .poster img {
    transform: translateY(-50px);
    transform: scale(1.1);
    filter: blur(3px);
}

.card .details {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    font-size: 20px;
    color: #fff;
}

.card:hover .details {
    font-size: 25px;
    bottom: 40px;
}

/* --------------------------------------------------------------------------------------------------- */
/* Text-to-music */
.prompt {
    position: relative;
    overflow: hidden;
}

.shape1,
.shape2,
.shape3 {
    position: absolute;
    border-radius: 50%;
    filter: blur(190px);
    z-index: 1;
}

.shape1 {
    width: 250px;
    height: 250px;
    background-color: #d8d027;
    top: 0;
    left: -1.5rem;
}

.shape2,
.shape3 {
    width: 300px;
    height: 300px;
}

.shape2 {
    background-color: #002fff;
    top: 3rem;
    right: 5.5rem;
}

.shape3 {
    background-color: #cc0081;
    left: 65.5rem;
    bottom: -4rem;
}

.prompt .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    align-items: center;
}

.prompt-div {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 0 0px 35px rgba(255, 255, 255, 0.25); */
    border: 1px solid grey;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    position:relative;
    z-index: 2;
}

.prompt-div h1 {
    margin-bottom: 20px;
}

.prompt-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.prompt-form .prompt-input {
    width: 100%;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: #101920;
    border: 1px solid #3e3e3e;
    color: white;
    font-size: 18px;
    margin-bottom: 4rem;
}

.slider-div {
    width: 100%;
    margin-bottom: 4rem;
}

.slider-div input {
    width: 100%;
    accent-color: orange;
}

.duration-div {
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prompt-form .btn {
    width: 100%;
}